
 html,body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    
    
}


body{
    padding: 0;
    margin: 0;
    background-color: rgb(54, 31, 13);
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* Navigation bar styling start 
---------------------------------------------------
*/
header{
    z-index: 1;
    position: fixed;
    width: 100%;
}
nav{
    background-color: rgba(0, 0, 0, 0.192);
    position: relative;
    bottom: 20px;
  

  
}
ul{
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: space-evenly;
    position: relative;
    top: 65px;
    color: white;
}
nav ul li a {
    color: white;
    text-decoration: none;
    text-shadow: 2px 3px 2px black;
    font-family: 'Nunito', sans-serif;
}

nav ul li a:hover{
    color: red;
    text-shadow: none;
}

.logo{
    position: relative;
    width: 80px;
    height: 140px;
    bottom: 40px;
    right: 50px;
}

/* Navigation bar styling ending
---------------------------------------------------
*/


/* index.html styling */


/*      First page styling start
---------------------------------------------------  
*/
.first-page{
    background-image: url("background.jpg");
    background-size: cover;
    width: 100%;
    height: 70vh;
    position: relative;
}
/* main-page text */
.main-text{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center; 
}

.cielito-lindo{
    color: white;
    padding: 20px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.671);
    font-size: 30px;
    font-size: 55px;
    font-family: 'Dancing Script', cursive;
    position: relative;
    top: 100px;
    text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.699);
}

.subtext{
    color: rgb(255, 255, 255);
    text-shadow: 4px 3px 2px rgba(0, 0, 0, 0.466);
    font-size: 20px;
    position: relative;
    top: 50px;
    font-size: 20px;
}
/* Buttons */
.button-section{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    top: 100px;
}


.our-menu{
    background:#ff0000;
    border-radius: 5px;
    padding:10px 15px;
    border-color: rgba(206, 126, 126, 0);
    color:#ffffff;
    display:inline-block;
    font:normal bold 12px/1 "Open Sans", sans-serif;
    text-align:center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    bottom: 35px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.61);
    left: 5%;
    text-decoration: none;
    
}

.Gallery{
    background:    #ffffff;
    border-radius: 5px;
    border-color: rgba(206, 126, 126, 0);
    padding:       10px 20px;
    color:         #ff0000;
    display:       inline-block;
    font:          normal bold 12px/1 "Open Sans", sans-serif;
    text-align:    center;
    font-family: 'Nunito', sans-serif;
    position: relative;
    bottom: 35px;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.61);
    right: 5%;
    text-decoration: none;   
}
/*      First page styling ending
---------------------------------------------------  
*/

/*      Second page Styling start
----------------------------------------------------
*/
.second-page{
    width: 100%;
    height: 40vh;
    background-color: rgb(54, 31, 13);
    position: relative;
    bottom: 2px;
}




.menu{
    background-image: url("tacos2.jpg");
    background-size: cover;
    background-position: center;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.589);
    width: 75%;
    height: 60%;
    position: relative;
    left: 12%;
    top: 10%;
    text-align: center;
    border-radius: 4px;
    transition: 1s;
    
    
}


/* "menu page" */
.text2{
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size:30px;
    position: relative;
    top:20%;
    font-family: 'Nunito', sans-serif;
}

/* buttons */
.button2{
    background:#ff0000;
    border-radius:5px;
    padding:10px 40px;
    border-color: rgba(206, 126, 126, 0);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.589);
    color:#ffffff;
    display:inline-block;
    font:normal bold 12px/1 "Open Sans", sans-serif;
    text-align:    center;
    position: relative;
    top: 40%;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
   
}
.button2:hover{
    background-color: white;
    color: red;
}


/*      Second page Styling ending
----------------------------------------------------
*/
/* Third page styling Hours styling page start
----------------------------------------------------
*/
.third-page{
    width: 100%;
    height: 40vh;
    background-color: rgb(54, 31, 13);
    position: relative;
    bottom: 3px;
}
.hours-title{
    color: white;
    text-align: center;
    background-color: rgb(54, 31, 13);
    position: relative;
    font-family: 'Nunito', sans-serif;
}


/* Third page styling Hours styling page ending
----------------------------------------------------
*/



/* Contact form styling start
----------------------------------------------------
*/

form{
    width: 100%;
    height: 10vh;
    position: relative;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    color: rgb(255, 255, 255);
     
}
.email{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    padding-bottom: 20px;
}
.email input{
   position: relative;
   width: 70%;
   left: 12% ;
   box-shadow: 3px 3px 3px black;
   border-radius: 5px;
}
.message{
    display: flex;
    text-align: center;
    flex-direction: column;
}
.message input {
    height: 15vh;
    width: 70%;
    position: relative;
    left: 13% ;
    box-shadow: 3px 3px 3px black;
    top: 20px;
    border-radius: 5px;
}
form button{
    background:    #ff0000;
    border-radius: 5px;
    padding:       10px 10px;
    border-color: rgba(206, 126, 126, 0);
    color:#ffffff;
    display:inline-block;
    font:normal bold 12px/1 "Open Sans", sans-serif;
    text-align:center;
    font-family:'Nunito', sans-serif;
    width:40%;
    position:relative;
    top: 70px;
    left: 30%;
    box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.61);
}
.contact-us{
    color: rgb(253, 253, 253);
    text-align: center;
    font-size: 35px;
    
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border-radius: 20px;
    padding: 25px; 
  }
  .grid-item {
    background-color: rgba(214, 0, 0, 0);
    border: 1px solid rgba(226, 226, 226, 0.116);
    color: rgb(200, 200, 200);
    padding: 20px;
    font-size: 12px;
    text-align: center;
  }
 #contact-page{
     position: relative;
     bottom: 20px;
     width: 100%;
     height:75vh;
    
     background-size: cover;
     
 }
 #my-form-button{
     cursor: pointer;

 }

 .phone{
    color: rgb(241, 241, 241);
    font-size: 15px;
    text-align: center;
    position: relative;
    top: 120%;
    font-family: 'Nunito', sans-serif;
    text-shadow: 3px 3px 3px black;
}


#map-page{
    height: 90vh;
    background-color: rgb(54, 31, 13);
   
}

#map-page h1{
    text-align: center;
    color: white;
    background-color: rgb(54, 31, 13);
    font-family: 'Nunito', sans-serif;
   
}
#map{
    width: 80%;
 
    box-shadow: 15px 15px 3px rgba(0, 0, 0, 0.342);
    position: relative;
    left: 10%;
  
    
}
 /* Contact form styling start
----------------------------------------------------
*/
/* menu.html styling */
 /* Menu page styling page starting
 -----------------------------
 -------------------------------
 */
 #white-box{
     background-color: rgb(255, 255, 255);
     width: 90%;
     height: 95%;
     position: relative;
     left: 5%;
     box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.438);
     border: 1px solid rgba(0, 0, 0, 0.418);
 }
 #menu-title{
     text-align: center;
 }
 
 .container{
     display: flex;
     justify-content: space-evenly;
 }

/* Button section 
------------------------------
*/

 /* Breakfast button */
 #button1{
    background-color: white;
    color: red;
    transition: 0.5s;
}

 
 
 /* Menu page styling page editing
 ------------------------------
  -------------------------------
 */
 .menu-images{
    width: 40%;
    height: 100%;
    position: relative;
    right: 2%;
}
.menu-images img{
    width: 100%;
    height: 100%;
    box-shadow: 2px 2px 2px black;
    border-radius: 20px;  
}

.image-box{
    width: 75%;
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    left: 13%;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.308);
    border-radius: 10px ;  
}
#img-menu{
    width: 100%;
    height: 100%;
    border-radius: 10px ;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.404);
}
 .button-container{
    border-radius: 20px;
    width: 85%;
    position: relative;
    left:10%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 10px;
 }
 .button-container button{
     width: 13%;
     background-color: red;
     color: white;
 }
 #menu-page {
     color: white;
     text-align: center;
     text-shadow: 2px 2px 2px black;
 }

 .address{
     color: white;
     font-size: 12px;
     text-align: center;
     padding-bottom: 10px;
     font-family: 'Nunito', sans-serif;
 }


 .split{
     width: 100%;
     height: 0.7vh;
     background-color: rgba(247, 218, 192, 0.644);
 }
 .split2{
    width: 100%;
    height: 0.2vh;
    background-color: rgba(247, 218, 192, 0.644);
}
.split3{
    width: 100%;
    height: 0.2vh;
    background-color: rgba(247, 218, 192, 0.644);
}
.language{
    cursor: pointer;
    
}
#language-change{
    z-index: 1;
    position: fixed;
    bottom: 140px;
    background-color: rgba(37, 21, 3, 0.335);
    padding: 1px 1px;
    opacity: 80%;


    
    
}
#language-change:hover{
    opacity: 100%;
}



#flag1,#flag2{
    background:transparent; 
    border:none; 
    color:transparent;
    
    
}

#language-change h2{
    color: white;
    font-size: 8px;
}

#backToTop{
    position: fixed;
    z-index: 1;
    width: 60px;
    height: 60px;
    left: 88%;
    top: 80%;
    
}

 /* styling when page is 700px or over 
--------------------------------------
----------------------------------------
 */
 @media only screen and (min-width: 700px){
    #language-change h2{
        color: white;
        font-size: 15px;
    }
    
    #flag1-img{
        width: 70px;
        height: 40px;
    }
    #flag2-img{
        width: 70px;
        height: 40px;
    }
    .split2{
        width: 100%;
        height: 0.2vh;
        background-color: rgba(247, 218, 192, 0.644);
    }

    .split{
        width: 100%;
        height: 0.5vh;
        background-color: rgba(247, 218, 192, 0.644);
    }
    /* Main page buttons styling */
    .our-menu{
        padding:20px 40px;
        left: 10%;  
    }
    .Gallery{
        padding:20px 45px;
        right: 10%;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.61);
    }
   /* Hours section on index.html */
    .third-page{
        width: 100%;
        height: 60vh;  
    }
    .grid-container {
        border-radius: 20px;
        padding: 40px;
      }
      .grid-item {
        padding: 40px;
        font-size: 20px; 
      }
      /* Contact form styling */
      form{
        width: 100%;
        height: 10vh;
        font-size: 20px;   
    }
    /*      Second page Styling     */
    .second-page{
    width: 100%;
    height: 60vh;
  
    position: relative;
    bottom: 2px;   
}
    .menu{
    background-image: url("tacos2.jpg");
    width: 75%;
    height: 70%;
    left: 12%;
    top: 10%;   
}
    /* "menu page" */
    .text2{
    font-size: 40px;
    top: 20%;    
}
    /* View */
    .button2{
    padding:15px 50px;
    top: 40%;
}
.button2:hover{
    background-color: white;
    color: red;
}
    .email{
        padding-bottom: 20px;
    }
    .email input{
       width: 40%;
       left: 30% ;
       box-shadow: 3px 3px 3px black;
       border-radius: 5px;    
    }
    .message{
        display: flex;
        text-align: center;
        flex-direction: column;
    }
    .message input {
        height: 15vh;
        width: 40%;
        left: 30% ;
        top: 20px;   
    }
    form button{
        padding:10px 10px;
        width: 20%;
        top: 70px;
        left: 40%;   
    }
    .contact-us{   
        text-align: center;
        font-size: 35px;
    }
    .menu-buttons{
        padding-top: 40px;
        padding-bottom: 40px;
     }
     .description{
       font-size: 20px;
     }
     .price{
        font-size: 20px;
     }
     .image-box{
        width: 75%;
        height: 80%;
        left: 15%;   
    }
    .button-container{
        width: 75%;
        left:15%;
     }
 }
 /* styling when page is 1000px or over 
--------------------------------------
----------------------------------------
 */

 @media only screen and (min-width: 1000px){
    .button-section{
        width: 40%;
        left: 25%;
    }
    .first-page{
        width: 100%;
        height: 100vh;
    }
    .our-menu{
        padding:20px 50px;
        bottom: 70px;
        box-shadow: 4px 4px 3px rgba(0, 0, 0, 0.61);
        position: relative;
        right: 10%;
    }
    
    .Gallery{
        padding:20px 50px;
        bottom: 70px;
        position: relative;
        left: 10%;
    }

    .cielito-lindo{
        padding: 20px;
        font-size: 100px;
        bottom: 35px;
        text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.699);   
    }
    .subtext{
        font-size: 35px;
        bottom: 110px;
    }

    /* Buttons */
    .button-section{
    display: flex;
    justify-content: space-evenly;
   
    position: relative;
    bottom: 50px;
}
    .logo{
        width: 100px;
        height: 180px;
        bottom: 60px;
        right: 100px;
    }

    ul{
        top: 80px;
    }
      /*      Second page Styling     */
.second-page{
    width: 100%;
    height: 80vh;
    bottom: 2px;
}
.menu{
    background-image: url("tacos2.jpg");
    width: 75%;
    height: 85%;
    left: 12%;
    top: 5%;
    text-align: center;
    border-radius: 4px;
}
.text2{
    font-size: 60px;
    top: 20%;
}

.button2{
    padding:30px 80px;
    top: 40%;
  
}
.button2:hover{
    background-color: white;
    color: red;
}
   

.description{
    font-size: 20px;
  }
 
 
  .price{
     font-size: 20px;
  }
  .menu-subtext{
      font-size: 15px; 
  }
  .image-box{
    width: 65%;
    height: 80%;
    left: 20%;
    box-shadow: 8px 8px 3px rgba(0, 0, 0, 0.308);
    border-radius: 10px ;
}
.button-container{   
    width: 65%;
    left:20%;
  
 }


form{
    width: 100%;
}

 }

 
 



